body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.players-container {
  width: 600px;
}
.player {
  width: 100%;
  float: left;
  border: 1px solid black;
}
.player > div {
  float: left;
  width: 33%
}
