extends ../layout

block content

  form(method='POST' action='/warmup')
    each group, key in groups
      b
        p= key + " - " + getTrack()
      div.col-12.item-container
        each p in group
          div.row
            div.col-6
              p= p.name
            div.col-6
              input.form-control(type='number' id='name' placeholder='Puntaje' name=key+'_'+p.id)

    button.btn.btn-primary(type='submit' onClick="createWarmUpRace()")  Guardar
  script.
    var players =!{JSON.stringify(players)}
    function createWarmUpRace() {
      console.log('ahorasiholi', players)
      //players.push({name: "s"})
    }
