extends ../layout

block content
  div.col-12
  h4.page-title Qualifying
  hr.hr-primary
  div.races-container
    form(method='POST' action='/qualifiers/'+ qualifying._id)
      each race, raceId in qualifying.races
        div.row
          div.col-12.item-container
            div.row
              div.col-12
                b
                  p.text-primary= race.track
              each participant in race.participants
                div.col-12.race-row
                  div.row
                    div.col-6
                      p= participant.player.name + " - " + participant.team.name
                    div.col-6
                      input.form-control(type='text' id='score' placeholder='Puntaje' name=raceId + "_" +participant.player._id value=participant.score)
                    div.blank-space-20 .
      button.btn.btn-primary(type='submit') Guardar
